$black: #111111;
$brand-color: #23cfc9;
$gray-dark-color: #757575;
$gray-medium-color: #e5e5e5;
$gray-light-color: #f5f5f5;
$red: #e64646;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-base: 16px;
$fz-normal: 20px;
$fz-desc: 24px;
$fz-title: 54px;
$container-width: 100%;
$padding-side: 22px;
$padding-blocks: 42px;
$usual-radius: 30px;
$small-radius: 6px;
$btn-padding: 8px 22px;
