@import '../../scss/vairables';

.form {
	padding: 24px 0;

	&__title {
		margin-bottom: 6px;

		h2 {
			font-size: $fz-desc;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		margin-top: 36px;
	}

	&__input {
		width: 100%;
		margin-bottom: 22px;
		position: relative;

		&_btns {
			display: flex;
		}

		&_btn {
			background-color: $brand-color;
		}
	}

	&__input input,
	&__input textarea {
		border: 2px solid $gray-medium-color;
		border-radius: $small-radius;
		max-width: 100%;
		width: 100%;
		height: 46px;
		padding: 10px;
		transition: 0.15s ease;
		font-size: $fz-base;
	}

	&__input textarea {
		height: 120px;
		resize: vertical;
	}

	&__input input.error {
		border: 2px solid $red;
	}

	&__input textarea:focus,
	&__input input:focus {
		border: 2px solid $brand-color;
	}

	&__error {
		color: $red;
		font-size: $fz-xs;
		margin-top: 4px;
	}

	&__button {
		width: 100%;
		background-color: $black;
		color: #fff;
		padding: 15px;
		border-radius: $usual-radius;
		transition: 0.15s ease;

		&:hover {
			background-color: $brand-color;
		}
	}

	&__inputInner {
		display: flex;
		grid-gap: 14px;
	}

	&__checkbox {
		display: flex;
		align-items: center;
		grid-gap: 4px;

		label {
			cursor: pointer;
		}
	}
}

.add {
	max-width: 130px;
	height: 130px;
	width: 130px;
	border: 1px solid $gray-medium-color;
	border-radius: $usual-radius;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease;

	& path {
		transition: 0.25s ease;
	}

	&:hover {
		background-color: $brand-color;
	}
	&:hover path {
		stroke: #fff;
	}
}

.hide {
	display: none;
}

.cards {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 20px;
}

.card {
	position: relative;
	width: 100%;
	max-height: 130px;
	height: 100%;
	border-radius: $usual-radius;
	overflow: hidden;
	border: 1px solid $gray-medium-color;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.image {
	&__remove {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		width: 26px;
		height: 26px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.15s ease;

		&:hover {
			background-color: $gray-medium-color;
		}
	}
}

.category {
	&__btns {
		display: flex;
		margin-top: 6px;
		gap: 6px;
	}

	&__btn {
		position: relative;
		background-color: $gray-medium-color;
		border-radius: $usual-radius;
		padding: 6px 20px 6px 12px;
		font-weight: 500;
		font-size: $fz-sm;
		cursor: pointer;

		&::after {
			position: absolute;
			top: 50%;
			transform: translateY(-55%);
			right: 6px;
			font-size: $fz-xs;
		}
	}
}

.active {
	background-color: $brand-color;
}

.active::after {
	content: 'x';
}
